Pacient nou:
<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="!patientSaved()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description> Nume {{ patient.name }} </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Nume</mat-label>
      <input matInput placeholder="nume pacient" [(ngModel)]="patient.name" />
    </mat-form-field>

    <ng-template ngFor let-i="index" let-idval [ngForOf]="PatientDetails">
      <mat-form-field>
        <mat-label>{{ idval.name }}</mat-label>
        <input
          matInput
          placeholder="idval.name"
          [(ngModel)]="DetailsPatientData[i].value"
        />
      </mat-form-field>
    </ng-template>

    
    <button
      mat-raised-button
      color="primary"
      (click)="savePatient()"
      *ngIf="patient.id == 0"
    >
      Introdu pacient
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="savePatient()"
      *ngIf="patient.id > 0"
    >
      Salveaza date pentru {{ patient.name }}
    </button>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="!patientSaved()" [expanded]="patientSaved()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Anamneza
      </mat-panel-title>
      <mat-panel-description>
        Pacient {{ patient.name }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template ngFor let-i="index" let-anam [ngForOf]="allAnamnesis">
      <mat-form-field>
        <mat-label>{{ anam.name }}</mat-label>
        <input
          matInput
          placeholder="anam.name"
          [(ngModel)]="resultAnam[i].details"
        />
      </mat-form-field>
    </ng-template>
    <div>
      <button mat-raised-button color="primary" (click)="saveAnam()">
        Salveaza anamneza
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="!patientSaved()" [expanded]="patientSaved()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Decizie
      </mat-panel-title>
      <mat-panel-description>
        Internare, salon, acasa , teste
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <mat-label>Decizie pacient</mat-label>
      <select matNativeControl [(ngModel)]="covidStatus">
        <option value="0" disabled selected></option>
        <option *ngFor="let it of CovidStatus" [value]="it.id">
          {{ it.name }}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Internare</mat-label>
      <select matNativeControl [(ngModel)]="location">
        <option value="0" disabled selected></option>
        <option *ngFor="let it of Location" [value]="it.id">
          {{ it.name }}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Teste</mat-label>
      <mat-select multiple style="width: 200px;" [(ngModel)]="medicalTests">
        <mat-option *ngFor="let it of MedicalTest" [value]="it.id">
          {{ it.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Alege pat</mat-label>
      <mat-select style="width: 200px;" [(ngModel)]="idBed">
        <mat-option value="0">-- None --</mat-option>
        <mat-optgroup
          *ngFor="let group of BR | keyvalue"
          [label]="group.value[0].idroomNavigation.name"
          [disabled]="false"
        >
          <mat-option
            *ngFor="let bed of group.value"
            [value]="bed.idbed"
            [disabled]="false"
          >
            {{ bed.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveStatus()">
      Salveaza
    </button>
  </mat-expansion-panel>
</mat-accordion>
