<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Workflow </span>
    </mat-toolbar>
    Pacient nou:
    
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            <input matInput placeholder="nume pacient" [(ngModel)]="patient.name" />
            <br />
            <input matInput placeholder="telefon" [(ngModel)]="patient.phone" />
            <br />
            <br />
            <input matInput placeholder="comentarii" [(ngModel)]="patient.comments" />
            <br />
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    

    <input matInput placeholder="nume pacient" [(ngModel)]="patient.name" />
    
  </mat-sidenav-content>
</mat-sidenav-container>
