<p>Numar camere : {{roomsId.size}} Numar pacienti {{patients?.length}}</p>

<mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let g of roomsId| keyvalue"> 
        <mat-expansion-panel-header>
            <mat-panel-title>
            Camera :{{g.value[0].idroomNavigation.name }}
            </mat-panel-title>
            <mat-panel-description>
              Numar paturi:  {{g.value.length }} . Nr pacienti {{nrPatientRooms(g.value)}}
                
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table>
              <tr>
                  <td>Nr</td><td>Nume</td><td>Pacient</td>
              </tr>
              <tr *ngFor="let b of g.value; let i=index">
                <td>{{i+1}}</td><td>{{b.name}}</td><td> 
                    <span *ngIf="b.bedPatient.length>0">
                        <a  [routerLink]="['/patient', b.bedPatient[0].idpatient]" mat-raised-button color="primary">Vizualizeaza Pacient</a>
                    </span>    
                    
                
                </td>
            </tr>
          </table>      
    </mat-expansion-panel>


</mat-accordion>
